#logo {

    float: right;
    height: 150px;
    width: 400px;
    background: url('images/logo.jpg') no-repeat;
    position: fixed; 
    top: 20px;
}
.menu li{

    display: inline-block;
}
.menu-container {
    position: fixed;
    right: 20px; 
    top: 50px; 
}
.search-form-container {
    position: fixed;
    right: 15px;
    top: 100px;
}
.content {
	width:400px;
    margin: 140px auto;
}
.avatar{
	width: 40px;   
    height: 40px;
    border: 1px solid black;
    float:left;
}
.post-photo{
	width: 400px; 
    height: 250px;
    border: 1px solid black;
    margin: 10px auto; 
}
.author {
	color: #000000;
    height: 15px;
    padding: 3px;
    margin-left: 45px;
}
.date{
	color: #c0c0c0;
	height: 10px;
	padding: 3px;
    margin-left: 45px;
}
.like {
	width: 30px;
    height: 30px;
    margin: 5px 5px 5px 0px;
    float: left;
    background:url(images/heart.jpg) left center no-repeat;
    background-size:25px 25px;
}
.like-sum {
	color: #000000;
	height: 40px;
	font-size: 150%;
    margin-top: 50px;
}
.post {
	color: #000000;
    padding: 5px;
}
.post-text{
	color: #000000;
	height: 15px;
    margin: 5px 0px;
}
.pardon {
    color:#DC143C;
    font-size: 200%;
    text-align: center;
}
.footer {
    text-align: center;
    position: relative;
    top: 150px;

}
.project {
    text-align: center;
    position: relative;
    top:100px;
}
.form {
    text-align: center;
    position: relative;
    top:150px;
    margin: 20px;
}